.face{
    width: 300px;
    height: 400px;
    border-radius: 5px;
}
#text{
    text-align: left;
    margin-top: 10%;
    padding-left: 5%;
}
.button{
    border: 0px;
    border-radius: 10px;
    background-color: rgb(0, 89, 255);
    margin-left: 30%;
    width: 40%;
}
#logo{
    padding: 5px;
}
#nav{
    font-size: xx-large;
}
.align{
    text-align: center;
}
.img{
    border-radius: 10px;
    margin-left: 15%;
    width: 75%;
}
.quote{
    text-align: center;
    padding: 2%;
}
.imgalign{
    padding-top: 3%;
}
.font{
    font-size: xx-large;
    font-weight: bolder;
    font-style: italic;
}
.footer{
    text-align: center;
}

.contact{
    margin-top: 5%;
    background-color: white;
    border-radius: 20px;
    box-shadow: 10px 10px 10px 2px black;
}
.me{
    background-color: white;
}
.you{
    background-color: white;
}
#common{
    text-align: center;
    padding: 2%;
    margin: 5%;
    border-radius: 20px; 
    width: 65% ;
    margin-left: 15%;
    box-shadow: 10px 10px 30px 1px rgb(46, 46, 46);
}
.details{
    text-align: start;
}
.input{
    border: none;
    border-bottom: 1px solid black;
    width: 50%;
}
form{
    text-align: start;
}
.submit{
    margin-left: 38%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: rgb(62, 124, 182);
    margin-bottom: 20px;
}
.submit:hover{
    opacity: 0.8;
}
.my_details{
    padding: 0;
    margin: 5%;
    border-radius: 20px;
    background-color: rgb(194, 194, 194);
    

}
.my_skills{
    text-align: center;
    padding-top: 0.25%;
    padding-left: 5%;
    padding-right: 5%;
    margin: 2.5%;
    border-radius: 20px;
    background-color: rgb(194, 194, 194);
}
.proimg{
    height: 300px;
}
.bold{
    font-weight: bolder;
    text-align: start;
    padding-right: 20%;
}
.title{
    text-align: center;
}

.skills{
    height: 70%;
    width: 70%;
    border-radius: 20px;
}

.rounded-pill{
    width: 90%;
}
.dim{
    width: 104px;
    height: 104px;
    border-radius: 20px;
    align-self: center;
    margin: 2%;
}
.main{
    height: 95%;
}
.shadow{
    box-shadow: 20px 20px 5px 5px black;
}
.dim:hover{
    box-shadow: 10px 10px 30px 3px black;
}
@media (max-width : 440px){
    nav ul{
        display: block;
        flex-direction: column;
        text-align: start;
    }
}
@media (max-width : 576px){
    #text{
        text-align: center;
        margin-top: 3%;
    }
}
@media (max-width : 991px) and (min-width : 465px){
    #arrange{
        display: block;
        flex-direction: column;
    }
    #text{
        text-align: center;
    }
    #imgcenter{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }  
}
@media (max-width : 995px){
    #abtarrange{
        display: block;
        flex-direction: column;
    }
    #abtmain{
        margin-left: auto;
        margin-right: auto;
        width: 60%;
        padding: 5%;
    }
    #skillmain{
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }
}
@media (max-width : 770px){
    #abtmain{
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        padding: 5%;
    }
}
@media (max-width : 470px){
    #abtmain{
        margin-left: auto;
        margin-right: auto;
        width: 85%;
        padding: 5%;
    }
}
@media (max-width : 375px){
    #abtmain{
        margin-left: auto;
        margin-right: auto;
        width: 95%;
        padding: 5%;
    }
}
@media (max-width : 769px) and (min-width : 575px){
    #homeadj{
        margin-left: auto;
        margin-right: auto;
    }
}
@media (max-width : 1000px){
    #contactcol{
        display: block;
        flex-direction: column;
        padding: 3%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5%;
    }
    #common{
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }
}


